!!! 1.1
%html{ "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Rails Searchable API Doc
    %script{ :type => "text/javascript", :charset => "utf-8" }
      :plain
        (function() {
          var id = '';
          if (navigator.platform.indexOf('Mac') != -1) {
            id = "mac";
          } else {
            if (navigator.userAgent.indexOf('Chrome') != -1) {
              id = "win-chrome";
            } else {
              id = "win";
            }
          }
          document.documentElement.id = id;
        })();
    %script{ :src => "js/jquery-1.3.2.min.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "js/selector.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :type => "text/javascript", :charset => "utf-8" }= version_script
    %script{ :type => "text/javascript", :charset => "utf-8" }
      $(function() {
      $('#versions').versionSelector(versions, sizes);
      })
    %link{ :href => "css/reset.css", :title => "no title", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }
    %link{ :href => "css/master.css", :title => "no title", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }
  %body
    .body
      %h1
        Rails <b>S</b>ea<b>rch</b>able API Doc
        %sup
          beta :)
      %p.slogan
        Smart search,  beautifully packed
      #versions.versions<>
        .presets<>
          %span.preset.preset_rails.preset_selected
            %span<>= "Rails #{rails_version}"
          or
          %span.preset.preset_ruby
            %span<>= "Rails #{rails_version} + Ruby #{ruby_version}"
          or
          %span.preset
            %span<> build your custom package
      .actions
        .links
          %a{ :href => "http://github.com/voloko/sdoc/" } Code on GitHub
          %br
          %a{ :href => "http://sdoc.lighthouseapp.com/" } Bugs on Lighthouse
          %br
          %a{ :href => "http://www.twitter.com/voloko" } Follow me on twitter
        .download
          %a#download{ :href => "/doc/rails-#{rails_version}/rdoc.zip" } Download
          %img{ :src => "i/download.png", :height => "17", :width => "17" }
          %p#size= "Zip, #{rails_size}"
        .browse
          %a#browse{ :href => "/doc/rails-#{rails_version}/" } Browse online
        .note
          %p
            Tested with Safari 4, Firefox 3, Opera 9.5, Chrome, IE8
            %br
            IE 6, 7 are usable but <i>painfully</i> slow
          %p
            New docs are built daily
      .promo
        .slogan
          %b Find
          functions, classes and files
          %br
          Exact match is unnecessary
        .q1 Starts with query
        .q2 Contains query
        .q3 Smart match
      .features
        %h2 Features
        %ul
          %li
            %h3 Browse through classes and modules
            %img.mac{ :src => "i/browse.png" }
            %img.win{ :src => "i/win/browse.png" }
            %img.win-chrome{ :src => "i/win-chrome/browse.png" }
          %li
            %h3 Smart match
            %img.mac{ :src => "i/smart.png" }
            %img.win{ :src => "i/win/smart.png" }
            %img.win-chrome{ :src => "i/win-chrome/smart.png" }
          %li.mac
            %h3 Recent searches <i>(only in Safari)</i>
            %img{ :src => "i/recent.png" }
          %li
            %h3 Find files
            %img.mac{ :src => "i/files.png" }
            %img.win{ :src => "i/win/files.png" }
            %img.win-chrome{ :src => "i/win-chrome/files.png" }
          %li
            %h3 Refine with namespace
            %img.mac{ :src => "i/refine.png" }
            %img.win{ :src => "i/win/refine.png" }
            %img.win-chrome{ :src => "i/win-chrome/refine.png" }
          %li.keys
            %h3 Keyboard navigation
            %table
              %tr
                %th <i>Up Arrow</i> or<br /><i>Control</i> + <i>I</i> (<i>C</i> in Dvorak)
                %td Move to previous result
              %tr
                %th <i>Down Arrow</i> or<br /><i>Control</i> + <i>K</i> (<i>T</i> in Dvorak)
                %td Move to next result
              %tr
                %th <i>Enter</i>
                %td Open selected result
              %tr
                %th <i>Right Arrow</i> or<br /><i>Control</i> + <i>L</i> (<i>N</i> in Dvorak)
                %td Open selected folder
              %tr
                %th <i>Left Arrow</i> or<br /><i>Control</i> + <i>J</i> (<i>H</i> in Dvorak)
                %td Close selected folder or move to parent folder
            %p Hold arrow key to move selection faster
      .copy
        \&copy; 2009
        %a{ :href => "http://github.com/voloko" } Vladimir Kolesnikov
        ,
        %a{ :href => "http://github.com/ndbroadbent" } Nathan Broadbent
        |
        %span.mail
          %a{ :href => "mailto:voloko@gmail.com?subject=Sdoc feedback" }
            Send feedback
    .build-message{ :style => "display:none" }
      .bg
      .content
        %h1 Your package is being merged
        %p Please be patient. It usually does not take longer than 30 seconds.
    %script{ :type => "text/javascript" }
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{ :type => "text/javascript" }
      try {
      var pageTracker = _gat._getTracker("UA-7209475-2");
      pageTracker._trackPageview();
      } catch(err) {}
